Library/metadata/*
Library/PackageCache/*
Library/ScriptAssemblies/*
Library/ShaderCache/*
Library/StateCache/*
*.log
Temp/*
.vs/Assembly-CSharp/xs/UserPrefs.xml
.goutput
obj/Debug/*

.vs/Mother-Nature/xs/UserPrefs.xml

Library/EditorInstance.json

Library/CurrentLayout-default.dwlt

Library/CrashedAssetImports.txt

SteamVR.csproj

SteamVR_Actions.csproj

SteamVR_Editor.csproj

SteamVR_Input_Editor.csproj

SteamVR_Windows_EditorHelper.csproj

Library/ProjectSettings.asset

Library/CurrentMaximizeLayout.dwlt

Library/SceneVisibilityState.asset

Library/LastSceneManagerSetup.txt

Library/EditorUserBuildSettings.asset

Assembly-CSharp.csproj

ProjectSettings/ProjectSettings.asset

Mother-Nature.sln

Library/APIUpdater/project-dependencies.graph

Library/assetDatabase3

Library/ScriptMapper

Library/expandedItems

Library/AssetImportState

Library/
