Library/metadata/*
Library/PackageCache/*
Library/ScriptAssemblies/*
Library/ShaderCache/*
Library/StateCache/*
*.log
Temp/*
.vs/Assembly-CSharp/xs/UserPrefs.xml
.goutput
obj/Debug/*

.vs/Mother-Nature/xs/UserPrefs.xml

Library/EditorInstance.json

Library/CurrentLayout-default.dwlt

Library/CrashedAssetImports.txt
